@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body{
    font-family: "Alata", sans-serif;
    /* font-family: "Josefin Sans", sans-serif; title*/ 
    font-size: 16px;
}

.landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

.title{
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

@media(max-width:500px){
    .landingPage{
        background-size: 100% 450px;
    }
}