.header {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 600px;
    margin-bottom: 150px;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.nav-link a {
    color: hsl(0, 0%, 100%);
    position: relative;
}

.nav-link a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    transition: width 0.2s;
}

.nav-link a:hover::after {
    width: 100%;
}

.header .title {
    color: hsl(0, 0%, 100%);
    font-size: 60px;
    padding: 40px;
    border: 3px solid hsl(0, 0%, 100%);
    width: 550px;
    margin-top: 60px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 1;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    margin: 8px;
    transition: 0.3s;
}

@media(max-width:1024px) {
    .header {
        width: 90vw;
    }
}

@media(max-width:500px) {
    .header {
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 100px;
        height: 400px;
    }

    .header .menu {
        margin: 60px 0 20px;
    }

    .mobile-menu {
        display: block;
    }

    nav {
        display: none;
    }

    .header .title {
        color: hsl(0, 0%, 100%);
        font-size: 36px;
        padding: 20px;
        width: 300px;
    }
}