.interactive{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 70vw;
    height: 500px;
    background-image: url(../../images/desktop/image-interactive.jpg);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.interactive .info{
    background-color: hsl(0, 0%, 100%);
    padding: 80px 0 0 80px;
    width: 560px;
}

.info .title{
    color: hsl(0, 0%, 0%);
    font-size: 50px;
    margin-bottom: 30px;
}

.info .description{
    color: hsl(0, 0%, 55%);
    line-height: 28px;
}

@media(max-width:1024px){
    .interactive{
        width: 90vw;
    }

    .interactive .info{
        padding: 60px 0 0 60px;
        width: 540px;
    }
}

@media(max-width:800px){
    .interactive .info{
        padding: 40px 0 0 40px;
        width: 400px;
    }

    .info .title{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .info .description{
        line-height: 22px;
    }
}

@media(max-width:500px){
    .interactive{
        height: 100%;
        background-size: contain;
        margin-bottom: 50px;
    }

    .interactive .info{
        margin-top: 300px;
        text-align: center;
        padding: 0;
    }

    .info .title{
        font-size: 32px;
    }
}