.creations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.creationsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.creationsHeader .title{
    font-size: 50px;
}

.creationsHeader .button{
    border: 2px solid hsl(0, 0%, 41%);
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.creations .cards{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 240px;
    height: 450px;
    padding: 50px 35px;
    color: hsl(0, 0%, 100%);
    position: relative;
}

.card img{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 450px;
}

.card .title{
    font-size: 32px;
}