.creations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin-bottom: 100px;
}

.creationsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.creationsHeader .title {
    font-size: 50px;
}

.creationsHeader .button {
    border: 2px solid hsl(0, 0%, 41%);
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease-in;
}

.creationsHeader .button:hover{
    background-color: hsl(0, 0%, 0%);
    border: 2px solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.creations .cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 240px;
    height: 450px;
    padding: 50px 35px;
    color: hsl(0, 0%, 100%);
    position: relative;
    cursor: pointer;
}

.card img {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 450px;
    transition: 0.3s ease-in;
}

.card:hover img {
    opacity: 50%;
}

.card .title {
    font-size: 32px;
    transition: 0.3s ease-in;
}

.card:hover .title{
    color: hsl(0, 0%, 0%);
}

@media(max-width:1024px){
    .creations {
        width: 90vw;
    }

    .creations .cards {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
    }
}

@media(max-width:500px){
    .creationsHeader {
        flex-direction: column;
        gap: 20px;
    }

    .creationsHeader .title {
        font-size: 32px;
    }

    .creations .cards {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(8, auto);
    }
}