.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    padding: 40px;
}

.footer div{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 10px 0;
}

.footer div ul{
    display: flex;
    gap: 30px;
}

.footer ul li a{
    position: relative;
    color: hsl(0, 0%, 100%);
}

.footer ul li a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    transition: width 0.2s;
}

.footer ul li a:hover::after{
    width: 100%;
}

.social li{
    font-size: 24px;
}

.rights{
    color: hsl(0, 0%, 55%);
}